<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Francys CV</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Kelly - v4.7.0
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h2 class="logo me-auto me-lg-0">Ing. Francys Mata</h2>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="./">Home</a></li>
          <li><a href="./about">Acerca de mi</a></li>
          <li><a class="active" href="./resume">CV</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        
        <a href="https://www.linkedin.com/in/francys-mata-07232973/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resumen</h2>
          <p>Profesional con experiencia en manejo de proyectos de tecnología, desde la concepción hasta la entrega del sistema.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumario</h3>
            <div class="resume-item pb-0">
              <h4>Francys Del Valle Mata Marcano</h4>
              <p><em>Gerente de Innovaciones, con 2 años de experiencia en el manejo de proyectos de tecnología.</em></p>
              <p>
              <ul>
                <li>Ciudad Autónoma de Buenos Aires</li>
                <li>+54 911-3362-4998</li>
                <li>francysmata@gmail.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Educación</h3>
            <div class="resume-item">
              <h4>Tester QA</h4>
              <h5>2022</h5>
              <p><em> Academia de Buenos Aires, Programa Codo a Codo, Argentina</em></p>
              <p>Diseño y automatización de casos de pruebas.</p>
            </div>
            <div class="resume-item">
              <h4>Desarrollador (a) Full Stack</h4>
              <h5>2021-2022</h5>
              <p><em>Digital House, Argentina</em></p>
              <p>Desarrollador de paginas web en todas las etapas del diseño</p>
            </div>
            <div class="resume-item">
              <h4>Especialista en Gerencia de Servicios</h4>
              <h5>2015-2018</h5>
              <p><em> Universidad de Margarita, Venezuela</em></p>
              <p>Calidad de servicios, marketing, metricas, negociación</p>
            </div>
            <div class="resume-item">
              <h4>Ingeniero de Petróleo</h4>
              <h5>1998-2005</h5>
              <p><em>Universidad de Oriente, Venezuela</em></p>
              <p> Conocimientos acerca de todas las áreas de petróleo y gas</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Experiencia Profesional</h3>
            <div class="resume-item">
              <h4>Gerente de Innovaciones</h4>
              <h5>2021 - Presente</h5>
              <p><em>Phoenix Tech, S.A, Panamá </em></p>
              <p>
              <ul>
                <li>Planea e Implementa de metodologías de trabajo dentro del departamento de IT.</li>
                <li>Investiga nuevas tecnologías para uso del equipo de IT.</li>
                <li>Planifica lanzamientos de productos de Phoenix.</li>
                <li>Capacita al personal de IT para fortalecer el desarrollo de los productos generados.</li>
                <li>Planifica la creación de productos internos del departamento IT.</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Project Manager</h4>
              <h5>2020-2021</h5>
              <p><em>Cronapis Corp, Panamá</em></p>
              <p>
              <ul>
                <li>Brindar soporte a las oficinas de proyecto.</li>
                <li>Colaborar en la definición de planes, el seguimiento y control de proyectos, la confección de informes de avance, revisión de entregables, agenda y minutas de reuniones.</li>
                <li>Planificar proyectos, definiendo objetivos, alcances, recursos asignados y tiempos.</li>
                <li>Realizar el seguimiento de los distintos servicios e implementaciones.</li>
              </ul>
              <div>
                <h5><a href="pdf/Francys.pdf"> Descargar CV</a> </h5>
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Francys Mata</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>